.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.hidden {
  display: none;
}

.username-menu {
  h2 {
    font-size: 1rem;
    margin: 1rem;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

/* .username-menu{
  display:flex;
  flex-direction: column;
  h2{
    margin: 1.4rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }
  button{
    display: block;
    margin: 1.4rem auto;
    margin-top: 0;
  }
} */
