/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.buscaForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    mat-form-field {
      width: 100%;
    }
  }