<div class="toolbar">
    <div class="spinner-space">
        <mat-spinner diameter="24" *ngIf="loading"></mat-spinner>
    </div>
    <div class="spacer"></div>

    <div class="toolmenu" fxLayout="row">
        <label fxFlex="2 0 0" for="slider-ativo">{{labelSliderAtivo}}</label>
        <mat-slider fxFlex [formControl]="sliderAtivo" id="slider-ativo" min="0" max="2" step="1"></mat-slider>
        <div fxFlex fxHide.lt-md>
            <button mat-raised-button>Busca avançada</button></div>
        <div fxFlex fxHide.lt-md>
            <button mat-raised-button routerLink="entrada">Entrada de veículo</button></div>
    </div>
    <button mat-icon-button fxHide fxShow.lt-md [matMenuTriggerFor]="menuBuscaFicha">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuBuscaFicha>
        <button mat-menu-item>Busca avançada</button>
        <button mat-menu-item routerLink="entrada">Entrada de veículo</button>
    </mat-menu>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<table mat-table [dataSource]="fichas" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="osSistema">
        <th mat-header-cell *matHeaderCellDef>OS Sistema</th>
        <td mat-cell *matCellDef="let f"> {{f.osSistema}}</td>
    </ng-container>
    <ng-container matColumnDef="osInterna">
        <th mat-header-cell *matHeaderCellDef>OS Interna</th>
        <td mat-cell *matCellDef="let f"> {{f.osInterna}}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let f"> {{f.dadosCadastrais.cliente.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef>Placa</th>
        <td mat-cell *matCellDef="let f"> {{f.dadosCadastrais.clienteVeiculo.placa}}</td>
    </ng-container>

    <ng-container matColumnDef="carro">
        <th mat-header-cell *matHeaderCellDef>Carro</th>
        <td mat-cell *matCellDef="let f"> {{f.dadosCadastrais.clienteVeiculo.carro.marca}}</td>
    </ng-container>

    <ng-container matColumnDef="carroModelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let f"> {{f.dadosCadastrais.clienteVeiculo.carroModelo.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="finalizado">
        <th mat-header-cell *matHeaderCellDef>Finalizado</th>
        <td mat-cell *matCellDef="let f">
            <ng-container *ngIf="f.finalizado">
                <mat-icon color="green">ok</mat-icon>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let f" [attr.colspan]="colunasFicha.length">
            <div class="expanded-detail" [@detailExpand]="f == expandedElement ? 'expanded' : 'collapsed'">
                <div class="detalhe-ficha" fxLayout="row" fxLayout.lt-md="column">
                    <mat-card class="secao" fxFlex>
                        <mat-card-header>
                            <h3>Dados de entrada</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <div>
                                <h4>Recepção</h4>
                                <p>{{f.entrada.dataRecepcao | date: 'dd/MM/y H:m:s'}}</p>
                            </div>
                            <div *ngIf="f.entrada.avariaInterior.existente">
                                <h4>Avaria interior</h4>
                                <p>{{f.entrada.avariaInterior.detalhe}}</p>
                            </div>
                            <div *ngIf="f.entrada.avariaExterior.existente">
                                <h4>Avaria exterior</h4>
                                <p>{{f.entrada.avariaExterior.detalhe}}</p>
                            </div>
                            <div *ngIf="f.entrada.pertencesNoVeiculo.existente">
                                <h4>Pertences no veículo</h4>
                                <p>{{f.entrada.pertencesNoVeiculo.detalhe}}</p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="secao" fxFlex>
                        <mat-card-header>
                            <h3>Telefones do cliente</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <ul>
                                <li *ngFor="let tel of f.dadosCadastrais.cliente.telefones">
                                    {{tel | mask: clienteService.mascaraTelefone(tel) }}</li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="secao" fxFlex>
                        <mat-card-header>
                            <h3>Serviços previstos</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <ul>
                                <li *ngFor="let s of f.entrada.servicosPrevisao">{{s}}</li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="secao" fxFlex *ngIf="f.finalizado">
                        <mat-card-header>
                            <h3>Finalizado / Retorno</h3>
                        </mat-card-header>
                        <mat-card-content>
                            Finalizado em: {{f.finalizado.at | date}} por {{f.finalizado.user.username}}
                        </mat-card-content>
                        <mat-card-content>
                            <div>
                                <h4>Retorno</h4>
                                <ul>
                                    <li *ngFor="let r of f.retornos"></li>
                                </ul>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="detalhe-ficha" fxLayout="row" fxLayout.lt-md="column">
                    <mat-card class="secao" *ngIf="f.servicos.length > 0" fxFlex="4 0 0">
                        <mat-card-header>
                            <h3>Serviços realizados</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <table mat-table [dataSource]="f.servicos">
                                <ng-container matColumnDef="inicio">
                                    <th mat-header-cell *matHeaderCellDef>Inicio</th>
                                    <td mat-cell *matCellDef="let servico">
                                        {{servico.inicio | date : 'short'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="fim">
                                    <th mat-header-cell *matHeaderCellDef>Fim</th>
                                    <td mat-cell *matCellDef="let servico">
                                        {{servico.fim | date : 'short'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="servico">
                                    <th mat-header-cell *matHeaderCellDef>Serviço</th>
                                    <td mat-cell *matCellDef="let servico">
                                        {{servico.servico}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="setor">
                                    <th mat-header-cell *matHeaderCellDef>Setor</th>
                                    <td mat-cell *matCellDef="let servico">
                                        {{servico.setor}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="funcionario">
                                    <th mat-header-cell *matHeaderCellDef>Funcionário</th>
                                    <td mat-cell *matCellDef="let servico">
                                        {{servico.user.username}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                                    <td mat-cell *matCellDef="let servico">
                                        <button matTooltip="Atualizar serviço" [routerLink]="f._id+'/'+servico._id"
                                            mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button [disabled]="f.finalizado" matTooltip="Remover serviço" (click)="deletarServicoDialog(servico)" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="colunasServico"></tr>
                                <tr mat-row *matRowDef="let row; columns: colunasServico;"></tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="acoes-ficha" fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlex>
                        <button mat-raised-button color="accent" [routerLink]="f._id+'/add-servico'">
                            <mat-icon>local_car_wash</mat-icon> Registrar serviço
                        </button>
                    </div>
                    <div fxFlex>
                        <button mat-raised-button [routerLink]="f._id">
                            <mat-icon>edit</mat-icon>Alterar dados de receção
                        </button>
                    </div>
                    <div fxFlex>
                        <button *ngIf="f.finalizado" mat-raised-button color="accent" (click)="alterarSaidaDialog(f)">
                            <mat-icon>arrow_downward</mat-icon> Alterar saída
                        </button>
                        <button *ngIf="!f.finalizado" [disabled]="f.servicos.length == 0" mat-raised-button color="primary" (click)="saidaDialog(f)">
                            <mat-icon>arrow_downward</mat-icon> Registrar saída
                        </button>
                    </div>
                    <div fxFlex *ngIf="f.finalizado">
                        <button mat-raised-button color="warn" (click)="registrarRetornoDialog(f)">
                            <mat-icon>repeat</mat-icon> Registrar retorno
                        </button>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunasFicha"></tr>
    <tr mat-row *matRowDef="let element; columns: colunasFicha;" class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>