<form action="#!">
    <div class="form-group">
        <label for="setor">Setor</label>
        <select mdbInput name="setor" id="setor" class="browser-default custom-select form-control">
            <option value="OF">OF</option>
            <option value="VN">VN</option>
            <option value="TD">TD</option>
            <option value="VU">VU</option>
        </select>
    </div>
    <div class="form-group md-form">
        <input mdbInput type="text" name="cliente" id="cliente" class="form-control">
        <label for="cliente">Cliente</label>
    </div>

</form>