<form class="text-center" style="color: #757575;" action="#!">
    <span>Setor</span>
    <select name="ficha.setor" class="mdb-select colorful-select dropdown-primary">
        <option value="" disabled>Setor</option>
        <option value="OF">OF</option>
        <option value="VN">VN</option>
        <option value="SL">SL</option>
        <option value="TD">TD</option>
        <option value="VU">VU</option>
    </select>
    <div class="md-form">
        <input mdbInput name="ficha.cliente" type="text" id="cliente" class="form-control">
        <label for="ficha.cliente" class="">Cliente</label>
    </div>
    <div class="md-form">
        <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
        <label for="date-picker-example">Try me...</label>
      </div>
</form>