<div class="login-content">
    <mat-card>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <p>Login</p>
            <mat-card-content>
                <mat-form-field>
                    <input id="username" type="text" placeholder="Usuário" matInput formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input id="password" type="password" placeholder="Senha" matInput formControlName="password">
                </mat-form-field>
                <mat-error *ngIf="errorForm">{{errorForm}}</mat-error>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="!formLogin.valid" type="submit" mat-raised-button color="primary">Logar</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>