table {
    width: 100%;
  }

  .expanded-detail{
    overflow: hidden;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #777;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  

  